---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const articles = await getCollection('articles');
---

<Layout title="Articles">
    <!-- <h1>Articles</h1> -->
    <ul>
        {
            articles.map((article) => (
                <li>
                    <a href={"/posts" + article.slug}>
                        {article.data.title}
                    </a>
                    <div class="info">
                        <span>{article.data.pubDate.toDateString()}</span>
                        &middot;
                        <span>{article.data.description</span>
                    </div>
                </li>
            )
            )
        }
    </ul>
</Layout>

<style>

	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}

    ul {
        list-style: none;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;

    }
    ul li {
        margin-bottom: 1.5rem;
    }

    ul li a {
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration: none;
        color: #222;
    }

    ul li a:hover {
        text-decoration: underline;
    }

    ul li .info {
        font-size: 1rem;
        font-weight: 400;
        color: #666;
    }


</style>
