---
import GlobalStyles from './GlobalStyles.astro';
import Header from '../components/Header.astro';
import type { CollectionEntry } from 'astro:content';

export interface Props {
	frontmatter: CollectionEntry<"articles">;
}

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <GlobalStyles />
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={frontmatter.data.description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.data.title}</title>
	</head>
	<body>
        <main>
            <Header />
            <div class="wrapper">
                <slot />
            </div>
        </main>
	</body>
</html>

<style is:global>
	html {
		font-family: var(--base-font-family);
		background-color: var(--background-color);
	}

    .wrapper {
        max-width: 65rem;
        margin-right: auto;
        margin-left: auto;
    }

    body {
        margin: auto;
        padding: 0;
        line-height: 1.4rem;
        font-size: var(--base-font-size);
        color: var(--text-color);
    }

    a {
        color: var(--link-color);
        text-decoration: none;
    }

</style>
