---
import GlobalStyles from './GlobalStyles.astro';
import Header from '../components/Header.astro';
import type { CollectionEntry } from 'astro:content';
import Footer from '../components/Footer.astro';

export interface Props {
	frontmatter: CollectionEntry<"articles">;
}

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <GlobalStyles />
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={frontmatter.data.description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.data.title}</title>
	</head>
	<body>
        <main>
            <Header />
            <div class="wrapper">
                <slot />
            </div>
            <Footer />
        </main>
	</body>
</html>

<style is:global>
	html {
		font-family: var(--base-font-family);
		background-color: var(--background-color);
	}

    .wrapper {
        max-width: 65rem;
        margin-right: auto;
        margin-left: auto;
    }

    body {
        margin: auto;
        padding: 0;
        line-height: 1.5rem;
        font-size: 1rem;
        color: var(--text-color);
    }

    a {
        color: var(--link-color);
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        color: var(--link-hover-color);
    }

    p {
        font-size: 1.1rem;
        padding: 1.1rem;
    }

    h2, h3, h4, h5, h6 {
        color: #b6bae6;
        font-weight: var(--base-font-weight);
        font-size: 1.5rem
    }

    h2 {
        font-size: 1.75rem;
    }

    h1 {
        color: #b6bae6;
        font-weight: var(--base-font-weight);
        font-size: 2rem;
    }

</style>
